{% extends 'bootstrap/base.html' %}

{% block title %} Веб портал ЦГС Самара {% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Главная</a>
        </div>
       <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                {% if current_user.is_authenticated %}           
                    {% if current_user.can(Permission.SW_n_AP) %}
                        <li><a href="{{ url_for('make_conf.switch') }}">Создать конфиг коммутатора</a></li>
                    {% endif %}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-left">
                {% if current_user.is_authenticated %}           
                    {% if current_user.can(Permission.BRAS) %}
                        <li><a href="{{ url_for('make_intf.index') }}">Создать интерфейс на BRAS</a></li>
                    {% endif %}
                {% endif %}
            </ul>      
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    {% if current_user.is_administrator() %}
                        <li><a href="{{ url_for('main.manage_users') }}">Управление учетными записями</a></li>
                    {% endif %}
                <li><a href="{{ url_for('auth.logout') }}">Выйти</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.register') }}">Зарегистрироваться</a></li>
                <li><a href="{{ url_for('auth.login') }}">Войти</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
	<div  class=container>
		{% block page_content %}{% endblock %}
	</div>
{% endblock %}
